* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.75rem;
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
}

input,
button {
  font-family: inherit;
}

.hero-section {
  background: linear-gradient(
    to right,
    rgb(253, 253, 253),
    rgba(237, 237, 225, 0.9),
    rgba(233, 233, 184, 0.601),
    rgba(227, 227, 165, 0.799)
  );
  height: 100vh;
  padding: 4rem 8rem;
}

.red {
  filter: brightness(0) saturate(100%) invert(34%) sepia(80%) saturate(5016%)
    hue-rotate(351deg) brightness(94%) contrast(105%);
}

header {
  display: flex;
  justify-content: space-between;
}

.hero-description {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  align-items: center;
}

.hero-description-details {
  max-width: 50rem;
}

.divider {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.divider-icon {
  width: 4rem;
  position: relative;
}

.top-line,
.bottom-line {
  width: 2px;
  height: 20rem;
}

.top-line {
  background-image: linear-gradient(to bottom, #fae3e0d1, #eea298, #ff8979);
}

.bottom-line {
  background-image: linear-gradient(to top, #fae3e0c9, #eea298, #ff8979);
}

.pokemon-type {
  color: #fff;
  padding: 0.5rem 0.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 1rem;
  font-size: 1.5rem;
}

.pokemon-type-icon {
  width: 2rem;
}

.pokemon-types {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.hero-number {
  font-size: 3rem;
}

.hero-number,
.hero-name {
  color: #f62d14;
  font-weight: 600;
}

.hero-name {
  font-size: 6rem;
  text-transform: uppercase;
}

.btn {
  color: #fff;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  font-family: inherit;
  font-size: inherit;
}

.btn-hero {
  background-color: #f62d14;
  margin-top: 3rem;
  border-radius: 1rem;
  padding: 1.5rem 3rem;
}

main {
  background-color: #060b28;
  color: #fff;
  padding: 8rem 15rem;
}

/******* Pokemon types *******/
.filters {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #2c3850;
  padding-bottom: 3rem;
}

.pokemon-types-btns-wrapper {
  overflow: hidden;
  margin: 0 2rem;
}
.pokemon-types-btns {
  display: flex;
  align-items: stretch;
  gap: 1rem;
  max-width: 36rem;
  transition: all 1s;
}

.pokemon-types-wrapper {
  margin-top: 2rem;
  display: flex;
}

.pokemon-types-wrapper > p {
  font-size: 3rem;
}

.pokemon-types-btns p {
  padding: 0.75rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.prev-type,
.next-type {
  cursor: pointer;
}

.type {
  transition: all 1s;
}

.type img {
  width: 1.5rem;
}

.bug {
  background-color: #94bc4a;
}

.dark {
  background-color: #736c75;
}

.dragon {
  background-color: #6a7baf;
}

.electric {
  background-color: #e5c531;
}

.fairy {
  background-color: #e095b0;
}

.fighting {
  background-color: #f62d14;
}

.fire {
  background-color: #ff7f22;
}

.flying {
  background-color: #5ba1e1;
}

.ghost {
  background-color: #735797;
}

.grass {
  background-color: #87dd31;
}

.ground {
  background-color: #927575;
}

.ice {
  background-color: #00bed8;
}

.normal {
  background-color: #a9a9a9;
}

.poison {
  background-color: #cd44fd;
}

.psychic {
  background-color: #f95587;
}

.rock {
  background-color: #5c5c5c;
}

.steel {
  background-color: #aec6c8;
}

.water {
  background-color: #0057ff;
}

.search-by-name-number {
  width: 40rem;
  padding: 2rem 3rem;
  display: flex;
  align-self: self-end;
  background-color: transparent;
  border: 3px solid #2403ff;
  color: inherit;
  font-family: inherit;
  border-radius: 1rem;
  cursor: pointer;
  font-size: inherit;
}

.search-by-name-number::placeholder {
  color: #4e5b75;
  font-family: inherit;
  font-size: 1.75rem;
}

.search-by-name-number:focus,
.search-by-name-number:hover {
  border-color: #4f38e6;
  outline: none;
  box-shadow: 1px 1px 2px #4f38e6;
}

/*** POKEMON CARDS ***/

.pokemon-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.card {
  list-style: none;
  max-width: 40rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 3rem;
  margin-top: 25rem;
}

.card-info {
  padding: 3rem 6rem 0rem 6rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.card-info > * {
  margin-top: 1rem;
}

.pokemon-card-img {
  position: absolute;
  width: 28rem;
  transform: translateY(-22rem);
}

.btn-card {
  padding: 1.5rem 3rem;
  width: 100%;
  margin-top: 2rem;
  border-radius: 0 0 3rem 3rem;
  font-weight: 500;
}

.weight-height {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.card-number {
  font-size: 2.5rem;
  font-weight: 500;
}

.card-name {
  font-weight: 500;
  font-size: 3.25rem;
}

.weight,
.height {
  font-weight: 500;
}

/*** CARD-TYPE STYLES ***/

.card-electric {
  border: 1px solid rgba(229, 196, 49, 0.2);
  background: radial-gradient(
    ellipse at top,
    rgba(229, 196, 49, 0.4),
    rgba(229, 196, 49, 0.3),
    rgba(229, 196, 49, 0.2),
    rgba(229, 196, 49, 0.1),
    rgba(229, 196, 49, 0.004)
  );
}

.card-bug {
  border: 1px solid rgba(148, 188, 74, 0.2);
  background: radial-gradient(
    ellipse at top,
    rgba(148, 188, 74, 0.4),
    rgba(148, 188, 74, 0.3),
    rgba(148, 188, 74, 0.2),
    rgba(148, 188, 74, 0.1),
    rgba(148, 188, 74, 0.004)
  );
}

.card-dark {
  border: 1px solid rgba(115, 108, 117, 0.2);
  background: radial-gradient(
    ellipse at top,
    rgba(115, 108, 117, 0.4),
    rgba(115, 108, 117, 0.3),
    rgba(115, 108, 117, 0.2),
    rgba(115, 108, 117, 0.1),
    rgba(115, 108, 117, 0.004)
  );
}

.card-dragon {
  border: 1px solid rgba(106, 123, 175, 0.2);
  background: radial-gradient(
    ellipse at top,
    rgba(106, 123, 175, 0.4),
    rgba(106, 123, 175, 0.3),
    rgba(106, 123, 175, 0.2),
    rgba(106, 123, 175, 0.1),
    rgba(106, 123, 175, 0.004)
  );
}

.card-fairy {
  border: 1px solid rgba(224, 149, 176, 0.2);
  background: radial-gradient(
    ellipse at top,
    rgba(224, 149, 176, 0.4),
    rgba(224, 149, 176, 0.3),
    rgba(224, 149, 176, 0.2),
    rgba(224, 149, 176, 0.1),
    rgba(224, 149, 176, 0.004)
  );
}

.card-fighting {
  border: 1px solid rgba(246, 45, 19, 0.2);
  background: radial-gradient(
    ellipse at top,
    rgba(246, 46, 20, 0.4),
    rgba(246, 46, 20, 0.3),
    rgba(246, 46, 20, 0.2),
    rgba(246, 46, 20, 0.1),
    rgba(246, 46, 20, 0.004)
  );
}

.card-fire {
  border: 1px solid rgba(255, 126, 34, 0.2);

  background: radial-gradient(
    ellipse at top,
    rgba(255, 126, 34, 0.4),
    rgba(255, 126, 34, 0.3),
    rgba(255, 126, 34, 0.2),
    rgba(255, 126, 34, 0.1),
    rgba(255, 126, 34, 0.004)
  );
}

.card-flying {
  border: 1px solid rgba(91, 160, 225, 0.2);
  background: radial-gradient(
    ellipse at top,
    rgba(91, 160, 225, 0.4),
    rgba(91, 160, 225, 0.3),
    rgba(91, 160, 225, 0.2),
    rgba(91, 160, 225, 0.1),
    rgba(91, 160, 225, 0.004)
  );
}

.card-ghost {
  border: 1px solid rgba(115, 87, 151, 0.2);
  background: radial-gradient(
    ellipse at top,
    rgba(115, 87, 151, 0.4),
    rgba(115, 87, 151, 0.3),
    rgba(115, 87, 151, 0.2),
    rgba(115, 87, 151, 0.1),
    rgba(115, 87, 151, 0.004)
  );
}

.card-grass {
  border: 1px solid rgba(135, 221, 49, 0.2);
  background: radial-gradient(
    ellipse at top,
    rgba(135, 221, 49, 0.4),
    rgba(135, 221, 49, 0.3),
    rgba(135, 221, 49, 0.2),
    rgba(135, 221, 49, 0.1),
    rgba(135, 221, 49, 0.004)
  );
}

.card-ground {
  border: 1px solid rgba(146, 117, 117, 0.2);
  background: radial-gradient(
    ellipse at top,
    rgba(146, 117, 117, 0.4),
    rgba(146, 117, 117, 0.3),
    rgba(146, 117, 117, 0.2),
    rgba(146, 117, 117, 0.1),
    rgba(146, 117, 117, 0.004)
  );
}

.card-ice {
  border: 1px solid rgba(0, 191, 216, 0.2);
  background: radial-gradient(
    ellipse at top,
    rgba(0, 191, 216, 0.4),
    rgba(0, 191, 216, 0.3),
    rgba(0, 191, 216, 0.2),
    rgba(0, 191, 216, 0.1),
    rgba(0, 191, 216, 0.004)
  );
}

.card-normal {
  border: 1px solid rgba(169, 169, 169, 0.2);
  background: radial-gradient(
    ellipse at top,
    rgba(169, 169, 169, 0.4),
    rgba(169, 169, 169, 0.3),
    rgba(169, 169, 169, 0.2),
    rgba(169, 169, 169, 0.1),
    rgba(169, 169, 169, 0.004)
  );
}

.card-poison {
  border: 1px solid rgba(204, 68, 253, 0.2);
  background: radial-gradient(
    ellipse at top,
    rgba(204, 68, 253, 0.4),
    rgba(204, 68, 253, 0.3),
    rgba(204, 68, 253, 0.2),
    rgba(204, 68, 253, 0.1),
    rgba(204, 68, 253, 0.004)
  );
}

.card-psychic {
  border: 1px solid rgba(249, 85, 134, 0.2);
  background: radial-gradient(
    ellipse at top,
    rgba(249, 85, 134, 0.4),
    rgba(249, 85, 134, 0.3),
    rgba(249, 85, 134, 0.2),
    rgba(249, 85, 134, 0.1),
    rgba(249, 85, 134, 0.004)
  );
}

.card-rock {
  border: 1px solid rgba(92, 92, 92, 0.2);
  background: radial-gradient(
    ellipse at top,
    rgba(92, 92, 92, 0.4),
    rgba(92, 92, 92, 0.3),
    rgba(92, 92, 92, 0.2),
    rgba(92, 92, 92, 0.1),
    rgba(92, 92, 92, 0.004)
  );
}

.card-steel {
  border: 1px solid rgba(174, 198, 200, 0.2);
  background: radial-gradient(
    ellipse at top,
    rgba(174, 198, 200, 0.4),
    rgba(174, 198, 200, 0.3),
    rgba(174, 198, 200, 0.2),
    rgba(174, 198, 200, 0.1),
    rgba(174, 198, 200, 0.004)
  );
}

.card-water {
  border: 1px solid rgba(0, 85, 255, 0.2);
  background: radial-gradient(
    ellipse at top,
    rgba(0, 85, 255, 0.4),
    rgba(0, 85, 255, 0.3),
    rgba(0, 85, 255, 0.2),
    rgba(0, 85, 255, 0.1),
    rgba(0, 85, 255, 0.004)
  );
}

/*** PAGINATION ***/

.pokemon-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.25rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.pokemon-pagination p {
  font-size: 2.5rem;
  cursor: pointer;
}

.pokemon-pages {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 4rem;
}

.pokemon-pages > .page {
  font-weight: 500;
  font-size: 1.75rem;
  background-color: transparent;
  color: #fff;
  padding: 0.5rem 1rem;
  border: 3px solid #fff;
  border-radius: 1rem;
}

#hidden {
  display: none;
}

.loader-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.loader {
  width: 8rem;
}

.active-pg {
  background-color: #0057ff;
}
